network:
  version: 2
  renderer: networkd
  ethernets:
{% for eth in netplan.ethernets %}
    {{ eth.name }}:
{% if eth.dhcp4 is defined %}
      dhcp4: {{ eth.dhcp4 }}
{% endif %}
{% if eth.address is defined %}
      addresses: [ {{ eth.address }} ]
{% endif %}
{% if eth.gateway4 is defined %}
      gateway4: {{ eth.gateway4 }}
{% endif %}
{% if eth.nameservers is defined %}
      nameservers:
            search: {{ bond.nameservers.search }}
            addresses: {{ bond.nameservers.addresses }}
{% endif %}
{% endfor %}
{% if netplan.bonds is defined %}
  bonds:
{% for bond in netplan.bonds %}
    {{ bond.name }}:
      interfaces: {{ bond.members }}
{% if bond.address is defined %}
      addresses: [ {{ bond.address }} ]
{% endif %}
{% if bond.gateway4 is defined %}
      gateway4: {{ bond.gateway4 }}
{% endif %}
      parameters:
        mode: 802.3ad
        transmit-hash-policy: layer3+4
        mii-monitor-interval: 1
{% if bond.nameservers is defined %}
      nameservers:
            search: {{ bond.nameservers.search }}
            addresses: {{ bond.nameservers.addresses }}
{% endif %}
{% endfor %}
{% endif %}
{% if netplan.bridges is defined %}
  bridges:
{% for bridge in netplan.bridges %}
    {{ bridge.name }}:
      interfaces: {{ bridge.members }}
{% if bridge.address is defined %}
      addresses: [ {{ bridge.address }} ]
{% endif %}
{% if bridge.gateway4 is defined %}
      gateway4: {{ bridge.gateway4 }}
{% endif %}
{% if bridge.nameservers is defined %}
      nameservers:
            search: {{ bridge.nameservers.search }}
            addresses: {{ bridge.nameservers.addresses }}
{% endif %}
{% endfor %}
{% endif %}
