network:
  version: 2
  renderer: networkd
  ethernets:
{% for eth in netplan.ethernets %}
    {{ eth }}:
      dhcp4: no
{% endfor %}
  bonds:
{% for bond in netplan.bonds %}
    {{ bond.name }}:
      interfaces: {{ bond.members }}
      addresses: {{ bond.address }}
      gateway4: {{ gateway }}
      parameters:
        mode: 802.3ad
        transmit-hash-policy: layer3+4
        mii-monitor-interval: 1
{% endfor %}
      nameservers:
            search: {{ nameservers.search }}
            addresses: {{ nameservers.addresses }}

